<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uf1.infobosccoma.appjob" >

    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--
 To retrieve OAuth 2.0 tokens or invalidate tokens to disconnect a user. This disconnect
     option is required to comply with the Google+ Sign-In developer policies
    -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" /> <!-- To retrieve the account name (email) as part of sign-in: -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" /> <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Controller.AppJobRegistra"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Controller.MainActivity_appJob"
            android:label="@string/title_activity_app_job_registra" >
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".Controller.UltimesNoticies"
            android:label="@string/title_activity_ultimes_noticies" >
        </activity>
        <activity
            android:name=".Controller.AfegirOferta"
            android:label="@string/title_activity_afegir_oferta" >
        </activity>
        <activity
            android:name=".Controller.DetallsOferta"
            android:label="@string/title_activity_detalls_oferta" >
        </activity>
        <activity
            android:name=".Controller.EnviamentCorreu"
            android:label="@string/title_activity_enviament_correu" >
        </activity>
        <activity
            android:name=".Controller.InfoApp"
            android:label="@string/title_activity_info_app" >
        </activity>
        <activity
            android:name=".Controller.llistaNoticies"
            android:label="@string/title_activity_llista_noticies"
            android:parentActivityName=".Controller.UltimesNoticies" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Controller.UltimesNoticies" />
        </activity>
    </application>

</manifest>
